In [70]:
#importing libraries 
import os
import gc
import numpy as np 
import pandas as pd 
from math import * 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, RobustScaler 
from sklearn.tree import DecisionTreeRegressor 
import xgboost as xgb 
import matplotlib as plt 
from sklearn.metrics import mean_squared_error, r2_score
from scipy.stats import mstats

In [5]:
class Config:
    LAG = 3
    VER = f'final_sub_v1'
    OUTPUT_DIR = './outputs'
    DATA_DIR = './data'
    DEBUG = True
    N_SPLITS = 5

In [259]:
train = pd.read_csv(os.path.join(Config.DATA_DIR,"Train.csv"), index_col=None)
print(train.shape)
train.head()

(7205, 9)

,VehicleID,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,VHL12546,Abuja,Honda,Accord Coupe EX V-6,"2,011",Silver,2.2,Nigerian Used,NaN
1,VHL18827,Ibadan,Hyundai,Sonata,"2,012",Silver,3.5,Nigerian Used,"125,000"
2,VHL19499,Lagos,Lexus,RX 350,"2,010",Red,9.2,Foreign Used,"110,852"
3,VHL17991,Abuja,Mercedes-Benz,GLE-Class,"2,017",Blue,22.8,Foreign Used,"30,000"
4,VHL12170,Ibadan,Toyota,Highlander,"2,002",Red,2.6,Nigerian Used,"125,206"

In [260]:
test = pd.read_csv(os.path.join(Config.DATA_DIR,"Test.csv"), index_col=None)
print(test.shape)
test.head()

(2061, 8)

,VehicleID,Location,Maker,Model,Year,Colour,Type,Distance
0,VHL18518,Abuja,BMW,323i,"2,008",White,Foreign Used,30524.0
1,VHL17149,Lagos,Toyota,Camry,"2,013",White,Foreign Used,NaN
2,VHL10927,Lagos,Toyota,Highlander Limited V6,"2,005",Gold,Foreign Used,NaN
3,VHL12909,Lagos,Toyota,Camry,"2,011",Gray,Foreign Used,166839.0
4,VHL12348,Lagos,Lexus,ES 350 FWD,"2,013",Red,Foreign Used,88862.0

In [261]:
submission = pd.read_csv(os.path.join(Config.DATA_DIR,"SampleSubmission.csv"), index_col=None)
submission.head()

  VehicleID  Amount (Million Naira)
0  VHL18518                     1.0
1  VHL17149                     1.0
2  VHL10927                     1.0
3  VHL12909                     1.0
4  VHL12348                     1.0

In [262]:
submission['VehicleID'] = test['VehicleID']

In [266]:
train = train.rename(columns= {'Amount (Million Naira)':'Amount'})

In [267]:
train.drop_duplicates()

,VehicleID,Location,Maker,Model,Year,Colour,Amount,Type,Distance
0,VHL12546,Abuja,Honda,Accord Coupe EX V-6,"2,011",Silver,2.20,Nigerian Used,NaN
1,VHL18827,Ibadan,Hyundai,Sonata,"2,012",Silver,3.50,Nigerian Used,"125,000"
2,VHL19499,Lagos,Lexus,RX 350,"2,010",Red,9.20,Foreign Used,"110,852"
3,VHL17991,Abuja,Mercedes-Benz,GLE-Class,"2,017",Blue,22.80,Foreign Used,"30,000"
4,VHL12170,Ibadan,Toyota,Highlander,"2,002",Red,2.60,Nigerian Used,"125,206"
...,...,...,...,...,...,...,...,...,...
7200,VHL14329,Abuja,Honda,Civic,"2,018",Gray,5.70,Foreign Used,"65,000"
7201,VHL10637,Abuja,BMW,X3,"2,007",White,4.00,Nigerian Used,"200,000"
7202,VHL19734,Abuja,Toyota,RAV4 2.5 Limited 4x4,"2,010",Black,2.85,Nigerian Used,NaN
7203,VHL15569,Lagos,Mercedes-Benz,GLK-Class 350,"2,012",Black,8.65,Foreign Used,"85,750"
7204,VHL15246,Abuja,Honda,Accord Crosstour,"2,012",Gray,3.38,Nigerian Used,"83,308"

In [268]:
for i in train.columns:
    print(f"Unique {i}'s counts: {train[i].nunique()}")
    print(f"{train[i].unique()}\n")
    # print('{}'.format(overall[i].unique()))

Unique VehicleID's counts: 5141
['VHL12546' 'VHL18827' 'VHL19499' ... 'VHL12205' 'VHL17562' 'VHL15246']

Unique Location's counts: 3
['Abuja' 'Ibadan' 'Lagos']

Unique Maker's counts: 55
['Honda' 'Hyundai' 'Lexus' 'Mercedes-Benz' 'Toyota' 'Acura' 'Dodge'
 'Nissan' 'Kia' 'BMW' 'Volvo' 'Ford' 'Land Rover' 'Lincoln' 'Peugeot'
 'Chevrolet' 'Audi' 'Jaguar' 'Infiniti' 'Porsche' 'Fiat' 'Maserati'
 'Volkswagen' 'Suzuki' 'Bentley' 'GAC' 'Mazda' 'Scion' 'Renault'
 'Mitsubishi' 'Mini' 'Pontiac' 'Cadillac' 'Ferrari' 'Jeep' 'Buick'
 'Rolls-Royce' 'GMC' 'Chrysler' 'Lamborghini' 'Citroen' 'King' 'BAW'
 'Saturn' 'Tata' 'Opel' 'JAC' 'MG' 'Hummer' 'Subaru' 'Rover' 'Saab'
 'Skoda' 'IVM' 'Brabus']

Unique Model's counts: 1223
['Accord Coupe EX V-6' 'Sonata' 'RX 350' ... 'Almera 1.6 Lux'
 'X5 3.0i Sports Activity' '320i SV Premium']

Unique Year's counts: 33
['2,011' '2,012' '2,010' '2,017' '2,002' '2,019' '2,015' '2,004' '2,003'
 '2,008' '2,018' '2,020' '2,006' '2,016' '2,014' '2,007' '2,009' '2,005'
 '2,021' '2,013' '2,000' nan '1,992' '2,001' '1,997' '1,999' '1,993'
 '1,998' '1,986' '1,996' '2,022' '1,995' '1,979' '1,989']

Unique Colour's counts: 21
['Silver' 'Red' 'Blue' 'Black' 'Gold' 'White' 'Gray' 'Burgandy' 'Green'
 'Violet' 'Brown' 'Yellow' 'Orange' 'Pink' 'Beige' 'Purple' 'Ivory' 'G'
 'Teal' 'Mica' 'Pearl']

Unique Amount's counts: 742
[2.200e+00 3.500e+00 9.200e+00 2.280e+01 2.600e+00 7.500e+00 7.900e+01
 9.000e+00 7.760e+00 2.500e+00 7.200e+00 3.260e+00 1.910e+00 6.950e+00
 1.700e+01 3.550e+00 2.200e+01 2.300e+01 1.400e+01 4.900e+00 2.480e+00
 1.600e+01 4.600e+00 1.500e+01 1.185e+01 4.100e+00 4.500e+00 4.200e+00
 7.800e+00 5.900e+00 4.000e+00 2.400e+00 3.000e+00 3.200e+00 2.660e+00
 1.150e+02 3.300e+00 5.500e+00 3.850e+00 2.300e+00 5.890e+01 2.800e+00
 6.500e+00 8.250e+00 6.800e+00 2.080e+00 1.460e+00 3.600e+00 6.850e+00
 3.750e+00 1.000e+01 2.810e+00 1.800e+00 6.750e+01 1.500e+00 1.690e+00
 6.730e+00 9.500e+00 5.780e+00 9.700e+00 3.800e+00 8.440e+00 4.450e+00
 2.900e+01 1.125e+01 2.050e+00 2.150e+01 3.590e+00 5.400e+00 1.069e+01
 1.190e+01 7.400e+00 8.680e+00 8.500e+00 1.200e+00 7.310e+00 3.950e+00
 6.000e+00 1.080e+01 5.200e+01 1.655e+01 4.500e+01 3.900e+00 1.950e+02
 2.700e+01 4.350e+00 5.600e+00 9.900e+00 3.150e+00 8.700e+00 3.400e+00
 7.900e+00 8.000e+00 1.020e+01 1.050e+01 4.390e+00 1.900e+00 1.400e+00
 1.200e+01 1.390e+01 4.700e+00 9.100e+00 7.650e+00 2.250e+00 6.200e+00
 4.000e+01 1.630e+00 1.250e+01 2.000e+00 6.700e+00 3.380e+00 9.560e+00
 8.750e+01 9.800e+00 4.250e+00 5.300e+00 5.250e+00 2.700e+00 3.550e+01
 5.800e+01 6.650e+01 5.160e+00 3.580e+00 2.590e+00 1.450e+01 1.631e+01
 3.200e+01 1.150e+00 5.100e+00 3.250e+00 1.320e+01 1.180e+01 6.250e+00
 5.800e+00 4.300e+00 2.850e+00 3.940e+00 2.500e+01 2.800e+01 2.550e+01
 1.350e+01 4.300e+01 2.750e+00 6.450e+00 1.010e+00 1.980e+01 2.030e+00
 7.000e+00 1.550e+01 5.650e+00 6.300e+00 3.820e+00 4.400e+01 4.650e+00
 2.900e+00 3.350e+00 2.400e+01 6.600e+00 2.100e+00 4.950e+00 1.200e+02
 8.800e+00 3.040e+00 1.650e+01 4.950e+01 9.750e+00 3.700e+00 1.650e+00
 8.650e+00 1.130e+00 1.600e+00 7.650e+01 1.150e+01 5.700e+00 2.000e+01
 7.700e+00 5.200e+00 4.800e+01 1.750e+01 7.400e+01       nan 4.800e+00
 8.850e+00 2.950e+00 7.300e+00 1.070e+01 2.100e+01 5.300e+01 1.620e+00
 2.050e+01 2.350e+01 2.250e+01 1.220e+02 3.450e+00 2.950e+01 8.300e+00
 6.050e+00 5.880e+00 3.800e+01 2.650e+00 2.850e+01 5.850e+00 4.270e+01
 3.370e+00 1.800e+01 1.850e+01 5.000e+00 1.420e+01 2.365e+01 2.600e+01
 8.190e+00 1.950e+00 2.380e+01 1.100e+01 1.570e+01 3.300e+01 4.050e+00
 8.200e+00 7.100e+00 9.150e+00 4.400e+00 8.900e+00 9.900e-01 1.300e+01
 5.350e+00 3.000e+01 3.500e+01 5.340e+00 3.650e+00 5.900e+01 1.240e+00
 2.450e+00 1.900e+01 6.400e+00 2.295e+01 1.350e+00 4.850e+00 1.330e+01
 8.550e+00 3.100e+00 5.740e+00 1.120e+01 1.740e+00 6.800e+01 6.850e+01
 5.950e+00 1.285e+01 7.050e+00 1.300e+00 2.420e+01 9.400e+00 7.350e+00
 1.680e+01 1.450e+00 1.950e+01 5.610e+00 1.260e+00 2.140e+00 2.930e+00
 1.820e+01 1.290e+00 3.270e+00 1.580e+00 3.900e+01 1.850e+00 2.300e+02
 1.370e+01 4.200e+01 5.000e+01 1.780e+00 9.300e+00 2.890e+00 3.180e+01
 1.220e+01 2.017e+01 1.520e+00 1.520e+01 8.400e-01 3.930e+00 6.080e+00
 8.900e-01 2.580e+00 1.170e+01 1.960e+01 4.160e+00 1.470e+01 2.750e+02
 5.290e+00 4.730e+00 8.500e+01 1.480e+01 2.150e+00 2.680e+00 4.750e+00
 5.550e+00 1.160e+01 9.000e-01 5.630e+00 2.550e+00 2.670e+01 5.500e+01
 1.380e+01 1.470e+00 7.600e+00 3.150e+01 2.350e+00 4.790e+00 5.750e+00
 1.180e+00 1.100e+00 2.790e+00 8.900e+01 2.280e+00 3.650e+01 1.990e+00
 6.100e+00 6.510e+00 7.000e-01 1.630e+01 1.130e+01 9.230e+00 7.250e+00
 2.813e+01 6.350e+00 6.900e+00 7.750e+00 1.730e+01 1.700e+00 5.070e+00
 3.700e+01 9.600e+00 8.600e+00 1.400e+02 4.750e+01 4.420e+00 1.385e+01
 1.575e+01 9.500e+01 5.510e+00 1.260e+01 6.750e+00 1.195e+01 1.580e+01
 1.550e+00 2.380e+00 1.830e+01 2.650e+01 5.450e+00 4.770e+01 4.490e+00
 6.000e+01 5.060e+00 1.390e+00 2.450e+01 6.500e+01 8.700e+01 1.090e+01
 1.055e+01 1.050e+00 4.150e+00 7.850e+00 1.215e+01 1.070e+00 1.463e+01
 2.870e+00 3.090e+00 2.430e+01 5.100e+01 1.145e+01 3.280e+00 7.150e+00
 4.500e-01 1.238e+01 1.490e+00 4.040e+00 6.680e+00 9.000e+01 2.690e+02
 3.600e+01 5.760e+00 2.330e+00 1.350e+02 4.280e+00 8.990e+00 1.280e+01
 2.285e+01 3.710e+00 7.950e+00 8.070e+00 8.000e-01 4.560e+02 1.985e+01
 1.750e+00 1.065e+01 1.870e+01 3.120e+00 2.920e+00 1.250e+02 3.610e+00
 2.360e+00 6.380e+00 1.045e+01 3.880e+00 1.325e+01 2.400e+02 2.750e+01
 1.920e+00 8.100e+00 5.625e+01 6.200e-01 1.760e+01 3.450e+01 1.270e+01
 3.420e+00 6.190e+00 7.380e+00 8.410e+00 1.780e+01 3.680e+00 1.430e+01
 1.880e+00 1.245e+01 1.970e+01 4.550e+00 4.900e+01 4.235e+01 2.000e+02
 1.000e+02 4.700e+01 2.999e+01 2.545e+01 1.790e+01 4.320e+00 1.948e+01
 9.450e+00 2.980e+00 3.050e+00 5.150e+00 1.425e+01 1.013e+01 1.315e+01
 1.085e+01 1.880e+01 6.200e+01 1.250e+00 3.440e+00 3.990e+00 6.390e+00
 3.480e+01 3.830e+00 5.450e+01 3.480e+00 4.840e+00 7.880e+00 2.950e+02
 6.800e-01 3.860e+00 4.600e+01 7.900e-01 8.000e+01 4.980e+00 2.855e+01
 1.913e+01 8.400e+00 9.600e-01 1.560e+01 9.850e+00 1.685e+01 4.830e+00
 7.090e+00 6.900e-01 1.945e+01 6.580e+00 1.690e+01 2.630e+00 3.490e+00
 9.650e+00 6.340e+00 1.395e+01 1.750e+02 1.290e+01 7.500e+01 2.620e+01
 1.155e+01 1.255e+01 6.180e+00 1.000e+00 8.790e+00 5.280e+00 1.030e+01
 1.485e+01 2.840e+00 3.330e+01 4.020e+00 6.700e+01 2.370e+01 9.790e+00
 8.200e+01 2.530e+00 2.925e+01 7.290e+00 4.350e+01 1.720e+00 2.690e+00
 1.980e+00 1.700e+02 6.910e+00 3.000e+02 1.860e+00 6.410e+00 3.100e+01
 6.090e+01 4.390e+01 6.780e+00 8.460e+00 4.890e+00 4.990e+00 4.610e+00
 4.660e+00 6.530e+00 3.950e+01 4.650e+01 9.100e-01 3.530e+00 7.550e+00
 1.970e+00 5.600e+01 2.490e+00 6.170e+00 7.800e+01 9.350e+00 3.850e+01
 1.225e+01 6.500e-01 6.890e+00 9.500e-01 1.730e+00 9.250e+00 1.420e+00
 1.895e+01 8.520e+00 5.097e+01 6.550e+00 2.970e+00 1.955e+01 2.680e+01
 3.470e+00 1.235e+01 1.060e+01 1.480e+02 8.750e+00 5.380e+00 4.250e+01
 3.490e+01 1.020e+00 1.233e+01 1.126e+01 1.440e+02 2.120e+01 1.890e+00
 8.450e+00 1.094e+01 4.440e+02 7.450e+00 2.470e+00 1.080e+02 1.590e+00
 1.050e+02 3.350e+01 2.480e+01 3.030e+00 4.450e+01 4.780e+00 9.800e+01
 1.890e+01 4.480e+00 4.210e+00 1.660e+01 4.680e+00 1.570e+00 1.601e+01
 1.230e+01 9.880e+00 9.550e+00 3.620e+00 8.400e+01 3.170e+00 3.190e+00
 3.770e+00 2.610e+00 4.500e+02 7.300e-01 1.140e+01 1.720e+01 3.750e+01
 4.380e+00 8.490e+00 1.135e+01 1.455e+01 1.688e+01 1.240e+01 4.130e+00
 4.550e+01 4.880e+00 8.780e+00 4.580e+00 1.165e+01 1.920e+01 1.345e+01
 1.060e+00 2.670e+00 2.241e+01 2.580e+01 4.520e+00 2.450e+02 9.300e+01
 1.360e+01 9.950e+00 2.050e+02 3.400e+01 2.530e+01 9.200e+01 5.050e+00
 4.270e+00 5.377e+01 2.310e+01 1.280e+00 5.400e+01 8.350e+00 5.600e-01
 3.980e+00 1.320e+00 3.335e+01 4.460e+00 2.650e+02 2.760e+00 3.890e+00
 2.340e+00 7.990e+00 6.650e+00 2.138e+01 3.540e+00 3.230e+00 5.980e+00
 5.830e+00 1.300e+02 7.450e+01 5.980e+01 2.390e+00 2.800e+02 8.700e-01
 3.800e+02 5.390e+00 5.350e+01 2.170e+01 3.320e+01 1.610e+01 6.300e+01
 1.375e+01 8.950e+00 7.690e+00 1.870e+02 3.120e+01 7.330e+00 4.300e+02
 2.385e+01 6.000e-01 1.560e+00 1.415e+01 4.680e+01 8.500e-01 4.540e+02
 9.620e+00 4.860e+00 2.070e+01 3.210e+00 6.150e+00 1.670e+01 3.250e+01
 6.600e+01 2.980e+02 2.080e+01 7.000e+01 1.190e+00 1.885e+01 1.089e+01
 2.790e+01 1.569e+01 1.650e+02 1.340e+01 1.850e+02 1.435e+01 8.050e+00
 2.860e+01 1.475e+01 2.900e+02 1.969e+01 2.700e+02 2.985e+01 4.380e+01
 1.457e+01 6.450e+01 1.320e+02 5.620e+00 4.940e+01 1.888e+01 4.710e+00
 3.050e+01 2.250e+02 2.490e+01 1.405e+01 3.970e+00 1.121e+01 1.500e+02
 1.640e+01 2.630e+01 2.030e+01 4.100e+01 1.530e+01 1.310e+01 2.180e+01
 2.310e+00 6.770e+00 1.740e+01 7.700e+01 7.300e+01 4.440e+00 1.490e+02
 1.280e+02 1.295e+01 1.445e+01 1.355e+01 5.700e+01 4.330e+00 1.770e+00
 1.465e+01 3.938e+01 2.970e+01 7.540e+00 1.292e+01 5.063e+01 1.550e+02
 1.910e+01]

Unique Type's counts: 3
['Nigerian Used' 'Foreign Used' 'Brand New' nan]

Unique Distance's counts: 3144
[nan '125,000' '110,852' ... '114,257' '85,750' '83,308']

In [271]:
train.shape,test.shape

((7205, 9), (2061, 8))

In [272]:
train.VehicleID.value_counts().head()

VHL18344    5
VHL14590    5
VHL12352    5
VHL16666    5
VHL19144    5
Name: VehicleID, dtype: int64

In [274]:
from sklearn.preprocessing import LabelEncoder 
columns_list = ["Maker", "Model", "Location", "Colour", "Type"] 
for var in columns_list:   
    lb = LabelEncoder()   
    full_var_data = pd.concat((train[var],test[var]),axis=0).astype('str')   
    temp = lb.fit_transform(np.array(full_var_data))   
    list(lb.classes_)   
    train[var] = lb.transform(np.array( train[var] ).astype('str'))   
    test[var] = lb.transform(np.array( test[var] ).astype('str'))

In [275]:
# Append test and train
train['is_train'] = 1
test['is_train'] = 0
overall = train.append(test, ignore_index = True)
overall

,VehicleID,Location,Maker,Model,Year,Colour,Amount,Type,Distance,is_train
0,VHL12546,0,17,142,"2,011",18,2.2,2,NaN,1
1,VHL18827,1,19,1204,"2,012",18,3.5,2,"125,000",1
2,VHL19499,2,29,1040,"2,010",17,9.2,1,"110,852",1
3,VHL17991,0,34,590,"2,017",3,22.8,1,"30,000",1
4,VHL12170,1,53,659,"2,002",17,2.6,2,"125,206",1
...,...,...,...,...,...,...,...,...,...,...
9261,VHL17903,0,53,186,"2,020",17,NaN,1,2650.0,0
9262,VHL14018,1,1,966,"2,011",3,NaN,1,99000.0,0
9263,VHL17473,1,53,317,"2,015",2,NaN,1,108000.0,0
9264,VHL11480,0,29,737,"2,013",22,NaN,1,52485.0,0
9265,VHL13881,0,40,1277,"2,009",18,NaN,1,124088.0,0

In [276]:
overall['Type'] = overall['Type'].ffill(axis=0)
overall['Type'] = overall['Type'].bfill(axis=0)

In [277]:
overall['Year'] = overall['Year'].ffill(axis=0)
overall['Year'] = overall['Year'].bfill(axis=0)

In [278]:
#overall['Amount'] = overall['Amount'].astype('str').map(lambda x: x.replace(',','').astype(np.int))
overall = overall.replace(',', '', regex = True)
#test = test.replace(',', '', regex = True)

In [279]:
overall['Year'] = overall['Year'].astype(float)

In [280]:
import statsmodels.api as sm 
from scipy import stats
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [281]:
overall['Amount'] = overall['Amount'].interpolate(method='linear', limit_direction='forward', axis=0)

In [282]:
overall['Distance'] = overall['Distance'].astype(float)
overall['Distance'] = overall['Distance'].fillna(overall['Distance'].dropna().mean())

In [283]:
combinations = [['Location','Maker'], ['Type','Model'], ['Year', 'Distance'], ['Model', 'Colour']] 
#combinations = [['Year'],['Model']] 
i = 0 
for combination in combinations: 
    target = 'Amount' 
    renamed_target = target + str(i) 
    new_cols = combination + [renamed_target] 
    temp_data = overall.groupby(combination).mean()[target].reset_index() 
    temp_data.columns = new_cols 
    overall = pd.merge(overall,temp_data,on = combination,how = 'left') 
    #test = pd.merge(test,temp_data,on = combination,how = 'left') 
    i+=1

In [284]:
overall.select_dtypes(include=np.number).loc[np.isinf(overall.select_dtypes(include=np.number)).any(1)]

Empty DataFrame
Columns: [Location, Maker, Model, Year, Colour, Amount, Type, Distance, is_train, Amount0, Amount1, Amount2, Amount3]
Index: []

In [285]:
overall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9266 entries, 0 to 9265
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   VehicleID  9266 non-null   object
 1   Location   9266 non-null   int32
 2   Maker      9266 non-null   int32
 3   Model      9266 non-null   int32
 4   Year       9266 non-null   float64
 5   Colour     9266 non-null   int32
 6   Amount     9266 non-null   float64
 7   Type       9266 non-null   int32
 8   Distance   9266 non-null   float64
 9   is_train   9266 non-null   int64
 10  Amount0    9266 non-null   float64
 11  Amount1    9266 non-null   float64
 12  Amount2    9266 non-null   float64
 13  Amount3    9266 non-null   float64
dtypes: float64(7), int32(5), int64(1), object(1)
memory usage: 904.9+ KB

In [286]:
def missing_values_table(df):       
    mis_val = df.isnull().sum()       
    mis_val_percent = 100 * df.isnull().sum() / len(df)       
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)       
    mis_val_table_ren_columns = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Values'})       
    mis_val_table_ren_columns = mis_val_table_ren_columns[mis_val_table_ren_columns.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)       
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"                
           "There are " + str(mis_val_table_ren_columns.shape[0]) + " columns that have missing values.")       
    return mis_val_table_ren_columns 

missing_values_table(overall)

Your selected dataframe has 14 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [287]:
overall

,VehicleID,Location,Maker,Model,Year,Colour,Amount,Type,Distance,is_train,Amount0,Amount1,Amount2,Amount3
0,VHL12546,0,17,142,2011.0,18,2.20,2,103332.682825,1,4.277409,2.200000,6.467374,2.200000
1,VHL18827,1,19,1204,2012.0,18,3.50,2,125000.000000,1,3.424667,3.235000,4.800000,4.872353
2,VHL19499,2,29,1040,2010.0,17,9.20,1,110852.000000,1,11.058355,7.465903,9.200000,9.004545
3,VHL17991,0,34,590,2017.0,3,22.80,1,30000.000000,1,17.192930,31.146914,23.908333,24.132500
4,VHL12170,1,53,659,2002.0,17,2.60,2,125206.000000,1,4.239292,4.064737,2.600000,9.860769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9261,VHL17903,0,53,186,2020.0,17,3.38,1,2650.000000,0,8.390080,8.362909,3.380000,9.292000
9262,VHL14018,1,1,966,2011.0,3,3.38,1,99000.000000,0,3.380000,5.065000,3.640000,3.380000
9263,VHL17473,1,53,317,2015.0,2,3.38,1,108000.000000,0,4.239292,4.762460,3.380000,4.968495
9264,VHL11480,0,29,737,2013.0,22,3.38,1,52485.000000,0,11.577288,10.555000,3.380000,3.380000
9265,VHL13881,0,40,1277,2009.0,18,3.38,1,124088.000000,0,3.416667,3.390000,3.380000,3.380000

In [291]:
overall

,VehicleID,Location,Maker,Model,Year,Colour,Amount,Type,Distance,is_train,Amount0,Amount1,Amount2,Amount3
0,VHL12546,0,17,142,2011.0,18,2.20,2,103332.682825,1,4.277409,2.200000,6.467374,2.200000
1,VHL18827,1,19,1204,2012.0,18,3.50,2,125000.000000,1,3.424667,3.235000,4.800000,4.872353
2,VHL19499,2,29,1040,2010.0,17,9.20,1,110852.000000,1,11.058355,7.465903,9.200000,9.004545
3,VHL17991,0,34,590,2017.0,3,22.80,1,30000.000000,1,17.192930,31.146914,23.908333,24.132500
4,VHL12170,1,53,659,2002.0,17,2.60,2,125206.000000,1,4.239292,4.064737,2.600000,9.860769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9261,VHL17903,0,53,186,2020.0,17,3.38,1,2650.000000,0,8.390080,8.362909,3.380000,9.292000
9262,VHL14018,1,1,966,2011.0,3,3.38,1,99000.000000,0,3.380000,5.065000,3.640000,3.380000
9263,VHL17473,1,53,317,2015.0,2,3.38,1,108000.000000,0,4.239292,4.762460,3.380000,4.968495
9264,VHL11480,0,29,737,2013.0,22,3.38,1,52485.000000,0,11.577288,10.555000,3.380000,3.380000
9265,VHL13881,0,40,1277,2009.0,18,3.38,1,124088.000000,0,3.416667,3.390000,3.380000,3.380000

In [292]:
overall.select_dtypes(include=np.number).loc[np.isinf(overall.select_dtypes(include=np.number)).any(1)]

Empty DataFrame
Columns: [Location, Maker, Model, Year, Colour, Amount, Type, Distance, is_train, Amount0, Amount1, Amount2, Amount3]
Index: []

In [298]:
overall["VehicleID_MeanPrice"] = overall.groupby(['VehicleID'])['Amount0'].transform('mean')

In [299]:
overall["VehicleID_MinPrice"] = overall.groupby(['VehicleID'])['Amount0'].transform('min') 

overall["VehicleID_MaxPrice"] = overall.groupby(['VehicleID'])['Amount0'].transform('max')

In [300]:
overall["Product_Maker_MaxPrice"] = overall.groupby(['Maker'])['Amount'].transform('max') 

overall["Product_Model_MeanPrice"] = overall.groupby(['Model'])['Amount'].transform('mean')

In [302]:
overall['Distance'] = overall['Distance'].astype(float)
overall['Distance'] = overall['Distance'].fillna(overall['Distance'].dropna().mean())

In [303]:
overall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9266 entries, 0 to 9265
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   VehicleID                9266 non-null   object
 1   Location                 9266 non-null   int32
 2   Maker                    9266 non-null   int32
 3   Model                    9266 non-null   int32
 4   Year                     9266 non-null   float64
 5   Colour                   9266 non-null   int32
 6   Amount                   9266 non-null   float64
 7   Type                     9266 non-null   int32
 8   Distance                 9266 non-null   float64
 9   is_train                 9266 non-null   int64
 10  Amount0                  9266 non-null   float64
 11  Amount1                  9266 non-null   float64
 12  Amount2                  9266 non-null   float64
 13  Amount3                  9266 non-null   float64
 14  VehicleID_MeanPrice      9266 non-null   float64
 15  VehicleID_MinPrice       9266 non-null   float64
 16  VehicleID_MaxPrice       9266 non-null   float64
 17  Product_Maker_MaxPrice   9266 non-null   float64
 18  Product_Model_MeanPrice  9266 non-null   float64
dtypes: float64(12), int32(5), int64(1), object(1)
memory usage: 1.2+ MB

In [307]:
overall.select_dtypes(include=np.number).loc[np.isinf(overall.select_dtypes(include=np.number)).any(1)]

Empty DataFrame
Columns: [Location, Maker, Model, Year, Colour, Amount, Type, Distance, is_train, Amount0, Amount1, Amount2, Amount3, VehicleID_MeanPrice, VehicleID_MinPrice, VehicleID_MaxPrice, Product_Maker_MaxPrice, Product_Model_MeanPrice]
Index: []

In [310]:
overall.select_dtypes(include=np.number).loc[np.isinf(overall.select_dtypes(include=np.number)).any(1)]

Empty DataFrame
Columns: [Location, Maker, Model, Year, Colour, Amount, Type, Distance, is_train, Amount0, Amount1, Amount2, Amount3, VehicleID_MeanPrice, VehicleID_MinPrice, VehicleID_MaxPrice, Product_Maker_MaxPrice, Product_Model_MeanPrice]
Index: []

In [317]:
overall.drop('VehicleID', inplace=True, axis=1)

In [318]:
overall

,Location,Maker,Model,Year,Colour,Amount,Type,Distance,is_train,Amount0,Amount1,Amount2,Amount3,VehicleID_MeanPrice,VehicleID_MinPrice,VehicleID_MaxPrice,Product_Maker_MaxPrice,Product_Model_MeanPrice
0,0,17,142,2011.0,18,2.20,2,103332.682825,1,4.277409,2.200000,6.467374,2.200000,11.061922,4.277409,17.192930,19.0,2.200000
1,1,19,1204,2012.0,18,3.50,2,125000.000000,1,3.424667,3.235000,4.800000,4.872353,3.424667,3.424667,3.424667,36.0,4.392877
2,2,29,1040,2010.0,17,9.20,1,110852.000000,1,11.058355,7.465903,9.200000,9.004545,14.125643,11.058355,17.192930,195.0,7.189634
3,0,34,590,2017.0,3,22.80,1,30000.000000,1,17.192930,31.146914,23.908333,24.132500,17.192930,17.192930,17.192930,300.0,34.293895
4,1,53,659,2002.0,17,2.60,2,125206.000000,1,4.239292,4.064737,2.600000,9.860769,4.239292,4.239292,4.239292,187.0,9.144366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9261,0,53,186,2020.0,17,3.38,1,2650.000000,0,8.390080,8.362909,3.380000,9.292000,8.390080,8.390080,8.390080,187.0,8.026232
9262,1,1,966,2011.0,3,3.38,1,99000.000000,0,3.380000,5.065000,3.640000,3.380000,8.498903,3.380000,11.058355,47.7,5.065000
9263,1,53,317,2015.0,2,3.38,1,108000.000000,0,4.239292,4.762460,3.380000,4.968495,4.239292,4.239292,4.239292,187.0,4.497698
9264,0,29,737,2013.0,22,3.38,1,52485.000000,0,11.577288,10.555000,3.380000,3.380000,11.577288,11.577288,11.577288,195.0,10.555000
9265,0,40,1277,2009.0,18,3.38,1,124088.000000,0,3.416667,3.390000,3.380000,3.380000,5.984113,3.416667,8.390080,5.0,3.390000

In [321]:
num_var = ['Location', 'Maker', 'Model', 'Year', 'Colour',
       'Type', 'Distance', 'Amount0', 'Amount1', 'Amount2',
       'Amount3', 'VehicleID_MeanPrice', 'VehicleID_MinPrice',
       'VehicleID_MaxPrice', 'Product_Maker_MaxPrice',
       'Product_Model_MeanPrice']

In [322]:
def data_scaling( scaling_strategy , scaling_data , scaling_columns ):
    if scaling_strategy =="RobustScaler" :
        scaling_data[scaling_columns] = RobustScaler().fit_transform(scaling_data[scaling_columns])
    elif scaling_strategy =="StandardScaler" :
        scaling_data[scaling_columns] = StandardScaler().fit_transform(scaling_data[scaling_columns])
    elif scaling_strategy =="MinMaxScaler" :
        scaling_data[scaling_columns] = MinMaxScaler().fit_transform(scaling_data[scaling_columns])
    elif scaling_strategy =="MaxAbsScaler" :
        scaling_data[scaling_columns] = MaxAbsScaler().fit_transform(scaling_data[scaling_columns])
    else:  # If any other scaling send by mistake still perform Robust Scalar
        scaling_data[scaling_columns] = RobustScaler().fit_transform(scaling_data[scaling_columns])
    return scaling_data

# RobustScaler is better in handling Outliers :
scaling_strategy = ["RobustScaler", "StandardScaler", "MinMaxScaler", "MaxAbsScaler"]
overall = data_scaling(scaling_strategy[2], overall, num_var)

display(overall.head())
display(overall.columns)

,Location,Maker,Model,Year,Colour,Amount,Type,Distance,is_train,Amount0,Amount1,Amount2,Amount3,VehicleID_MeanPrice,VehicleID_MinPrice,VehicleID_MaxPrice,Product_Maker_MaxPrice,Product_Model_MeanPrice
0,0.0,0.309091,0.100638,0.744186,0.782609,2.2,0.666667,0.052046,1,0.010010,0.003633,0.014009,0.003842,0.030733,0.010010,0.049459,0.038821,0.003633
1,0.5,0.345455,0.853296,0.767442,0.782609,3.5,0.666667,0.062959,1,0.007406,0.005925,0.010127,0.009708,0.007406,0.007406,0.007406,0.076212,0.008490
2,1.0,0.527273,0.737066,0.720930,0.739130,9.2,0.333333,0.055833,1,0.030722,0.015297,0.020370,0.018778,0.040091,0.030722,0.049459,0.425932,0.014686
3,0.0,0.618182,0.418143,0.883721,0.130435,22.8,0.333333,0.015110,1,0.049459,0.067754,0.054611,0.051987,0.049459,0.049459,0.049459,0.656879,0.074725
4,0.5,0.963636,0.467045,0.534884,0.739130,2.6,0.666667,0.063063,1,0.009894,0.007763,0.005005,0.020658,0.009894,0.009894,0.009894,0.408336,0.019016

Index(['Location', 'Maker', 'Model', 'Year', 'Colour', 'Amount', 'Type',
       'Distance', 'is_train', 'Amount0', 'Amount1', 'Amount2', 'Amount3',
       'VehicleID_MeanPrice', 'VehicleID_MinPrice', 'VehicleID_MaxPrice',
       'Product_Maker_MaxPrice', 'Product_Model_MeanPrice'],
      dtype='object')

In [324]:
print(train.shape, test.shape)
df_train, df_test = overall[overall['is_train']==1], overall[overall['is_train']==0]
print(df_train.shape, df_test.shape)

(7205, 10) (2061, 9)
(7205, 18) (2061, 18)

In [325]:
y_train = df_train['Amount']

In [326]:
#X_train.info()
X_train = df_train[num_var]
#X_train.info()
X_test = df_test[num_var]

In [327]:

#RFE
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm 
from statsmodels.stats.outliers_influence import variance_inflation_factor


#RFE
lm = LinearRegression()
lm.fit(X_train,y_train)
#estimator = SVR(kernel="linear")
rfe = RFE(lm, n_features_to_select = 10)
rfe = rfe.fit(X_train, y_train)

In [328]:
#RFE
X_train.columns[rfe.support_]

Index(['Year', 'Distance', 'Amount0', 'Amount1', 'Amount2', 'Amount3',
       'VehicleID_MeanPrice', 'VehicleID_MinPrice', 'VehicleID_MaxPrice',
       'Product_Model_MeanPrice'],
      dtype='object')

In [329]:
list(zip(X_train.columns,rfe.support_,rfe.ranking_))

[('Location', False, 3),
 ('Maker', False, 6),
 ('Model', False, 4),
 ('Year', True, 1),
 ('Colour', False, 5),
 ('Type', False, 7),
 ('Distance', True, 1),
 ('Amount0', True, 1),
 ('Amount1', True, 1),
 ('Amount2', True, 1),
 ('Amount3', True, 1),
 ('VehicleID_MeanPrice', True, 1),
 ('VehicleID_MinPrice', True, 1),
 ('VehicleID_MaxPrice', True, 1),
 ('Product_Maker_MaxPrice', False, 2),
 ('Product_Model_MeanPrice', True, 1)]

In [330]:
X_train_rfe = X_train[X_train.columns[rfe.support_]]
X_train_rfe.head()

,Year,Distance,Amount0,Amount1,Amount2,Amount3,VehicleID_MeanPrice,VehicleID_MinPrice,VehicleID_MaxPrice,Product_Model_MeanPrice
0,0.744186,0.052046,0.010010,0.003633,0.014009,0.003842,0.030733,0.010010,0.049459,0.003633
1,0.767442,0.062959,0.007406,0.005925,0.010127,0.009708,0.007406,0.007406,0.007406,0.008490
2,0.720930,0.055833,0.030722,0.015297,0.020370,0.018778,0.040091,0.030722,0.049459,0.014686
3,0.883721,0.015110,0.049459,0.067754,0.054611,0.051987,0.049459,0.049459,0.049459,0.074725
4,0.534884,0.063063,0.009894,0.007763,0.005005,0.020658,0.009894,0.009894,0.009894,0.019016

In [331]:
#RFE
def build_model(X,y):
    X = sm.add_constant(X) #Adding the constant
    lm = sm.OLS(y,X).fit() # fitting the model
    print(lm.summary()) # model summary
    return X

In [332]:

def checkVIF(X):
    vif = pd.DataFrame()
    vif['Features'] = X.columns
    vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    vif['VIF'] = round(vif['VIF'], 2)
    vif = vif.sort_values(by = "VIF", ascending = False)
    return(vif)

#RFE
X_train_new = build_model(X_train_rfe,y_train)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Amount   R-squared:                       0.939
Model:                            OLS   Adj. R-squared:                  0.939
Method:                 Least Squares   F-statistic:                 1.103e+04
Date:                Wed, 29 Jun 2022   Prob (F-statistic):               0.00
Time:                        16:58:33   Log-Likelihood:                -23436.
No. Observations:                7205   AIC:                         4.689e+04
Df Residuals:                    7194   BIC:                         4.697e+04
Df Model:                          10
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                      -6.1822      0.618    -10.000      0.000      -7.394      -4.970
Year                        8.2462      0.812     10.157      0.000       6.655       9.838
Distance                    1.7016      1.585      1.074      0.283      -1.405       4.808
Amount0                    46.9722      3.959     11.865      0.000      39.212      54.732
Amount1                   298.3811      5.747     51.920      0.000     287.115     309.647
Amount2                   126.4365      2.955     42.787      0.000     120.644     132.229
Amount3                   273.4114      5.974     45.771      0.000     261.702     285.121
VehicleID_MeanPrice      -109.5433     15.555     -7.042      0.000    -140.035     -79.051
VehicleID_MinPrice         37.1568      9.946      3.736      0.000      17.661      56.653
VehicleID_MaxPrice         35.3412      5.381      6.568      0.000      24.793      45.889
Product_Model_MeanPrice  -196.2943      7.321    -26.812      0.000    -210.646    -181.943
==============================================================================
Omnibus:                     5936.235   Durbin-Watson:                   2.020
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          3207598.991
Skew:                           2.839   Prob(JB):                         0.00
Kurtosis:                     106.210   Cond. No.                         322.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [333]:
#RFE
X_train_new = X_train_rfe.drop(["Distance"], axis = 1)

#RFE
X_train_new = build_model(X_train_new, y_train)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Amount   R-squared:                       0.939
Model:                            OLS   Adj. R-squared:                  0.939
Method:                 Least Squares   F-statistic:                 1.226e+04
Date:                Wed, 29 Jun 2022   Prob (F-statistic):               0.00
Time:                        16:58:35   Log-Likelihood:                -23436.
No. Observations:                7205   AIC:                         4.689e+04
Df Residuals:                    7195   BIC:                         4.696e+04
Df Model:                           9
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                      -5.9331      0.573    -10.354      0.000      -7.056      -4.810
Year                        8.0319      0.787     10.206      0.000       6.489       9.575
Amount0                    46.8120      3.956     11.833      0.000      39.057      54.567
Amount1                   298.4063      5.747     51.924      0.000     287.141     309.672
Amount2                   126.3491      2.954     42.773      0.000     120.559     132.140
Amount3                   273.4766      5.973     45.783      0.000     261.767     285.186
VehicleID_MeanPrice      -109.4033     15.554     -7.034      0.000    -139.895     -78.912
VehicleID_MinPrice         37.0796      9.945      3.728      0.000      17.584      56.575
VehicleID_MaxPrice         35.3687      5.381      6.573      0.000      24.821      45.917
Product_Model_MeanPrice  -196.2779      7.321    -26.809      0.000    -210.630    -181.926
==============================================================================
Omnibus:                     5939.273   Durbin-Watson:                   2.020
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          3211904.863
Skew:                           2.841   Prob(JB):                         0.00
Kurtosis:                     106.279   Cond. No.                         321.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [334]:
#Calculating the Variance Inflation Factor
checkVIF(X_train_new)

                  Features    VIF
6      VehicleID_MeanPrice  62.18
0                    const  60.33
7       VehicleID_MinPrice  21.44
9  Product_Model_MeanPrice  21.33
8       VehicleID_MaxPrice  17.21
5                  Amount3  16.24
3                  Amount1  14.80
2                  Amount0   5.69
4                  Amount2   2.92
1                     Year   1.45

In [335]:
#RFE
X_train_new = X_train_new.drop(["VehicleID_MeanPrice"], axis = 1)

#RFE
X_train_new = build_model(X_train_new, y_train)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Amount   R-squared:                       0.938
Model:                            OLS   Adj. R-squared:                  0.938
Method:                 Least Squares   F-statistic:                 1.369e+04
Date:                Wed, 29 Jun 2022   Prob (F-statistic):               0.00
Time:                        16:58:40   Log-Likelihood:                -23461.
No. Observations:                7205   AIC:                         4.694e+04
Df Residuals:                    7196   BIC:                         4.700e+04
Df Model:                           8
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                      -6.1173      0.574    -10.651      0.000      -7.243      -4.991
Year                        8.0834      0.790     10.237      0.000       6.536       9.631
Amount0                    38.3552      3.781     10.143      0.000      30.942      45.768
Amount1                   299.3927      5.765     51.937      0.000     288.092     310.693
Amount2                   124.3493      2.950     42.151      0.000     118.566     130.132
Amount3                   277.0033      5.972     46.382      0.000     265.296     288.711
VehicleID_MinPrice        -28.9071      3.312     -8.729      0.000     -35.399     -22.415
VehicleID_MaxPrice          0.2305      2.006      0.115      0.909      -3.701       4.162
Product_Model_MeanPrice  -198.4639      7.339    -27.042      0.000    -212.851    -184.077
==============================================================================
Omnibus:                     5828.325   Durbin-Watson:                   2.032
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          3201015.638
Skew:                           2.739   Prob(JB):                         0.00
Kurtosis:                     106.115   Cond. No.                         152.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [336]:
#Calculating the Variance Inflation Factor
checkVIF(X_train_new)

                  Features    VIF
0                    const  60.21
8  Product_Model_MeanPrice  21.29
5                  Amount3  16.12
3                  Amount1  14.79
2                  Amount0   5.16
4                  Amount2   2.89
7       VehicleID_MaxPrice   2.38
6       VehicleID_MinPrice   2.36
1                     Year   1.45

In [337]:
lm = sm.OLS(y_train,X_train_new).fit()
# Now let's use our model to make predictions.
X_train_new = X_train_new.drop('const',axis=1)
# Creating X_test_new dataframe by dropping variables from X_test
X_test_new = X_test[X_train_new.columns]

# Adding a constant variable 
X_test_new = sm.add_constant(X_test_new)

In [338]:
X_test_new

,const,Year,Amount0,Amount1,Amount2,Amount3,VehicleID_MinPrice,VehicleID_MaxPrice,Product_Model_MeanPrice
7205,1.0,0.674419,0.048103,0.006247,0.006821,0.006432,0.030722,0.048103,0.006247
7206,1.0,0.790698,0.018927,0.009309,0.017497,0.010748,0.018927,0.049459,0.008723
7207,1.0,0.604651,0.018927,0.008136,0.006468,0.005806,0.018927,0.018927,0.007170
7208,1.0,0.744186,0.018927,0.009309,0.006821,0.009307,0.010010,0.022572,0.008723
7209,1.0,0.790698,0.030722,0.020495,0.006821,0.018003,0.030722,0.030722,0.020221
...,...,...,...,...,...,...,...,...,...
9261,1.0,0.953488,0.022572,0.017284,0.006821,0.019410,0.022572,0.022572,0.016539
9262,1.0,0.744186,0.007269,0.009979,0.007426,0.006432,0.007269,0.030722,0.009979
9263,1.0,0.837209,0.009894,0.009309,0.006821,0.009919,0.009894,0.009894,0.008723
9264,1.0,0.790698,0.032307,0.022140,0.006821,0.006432,0.032307,0.032307,0.022140
9265,1.0,0.697674,0.007381,0.006269,0.006821,0.006432,0.007381,0.022572,0.006269

In [339]:

test_pred = lm.predict(X_test_new)

In [344]:
ty = round(test_pred, 2)

In [353]:
# Round off the Probability Results :
predictions = [round(value, 2) for value in test_pred]
# Create a Dataframe Table for Submission Purpose :
Result_Promoted = pd.DataFrame({'VehicleID': submission['VehicleID'], 'Amount (Million Naira)' : predictions})
Result_Promoted.to_csv("zik_stat_v1_4.csv", index=False)

In [348]:
submission['Amount (Million Naira)'] = ty
submission.to_csv('zik_stat_v1_4.csv', index =  False)

In [363]:
X_train_new

,Year,Amount0,Amount1,Amount2,Amount3,VehicleID_MinPrice,VehicleID_MaxPrice,Product_Model_MeanPrice
0,0.744186,0.010010,0.003633,0.014009,0.003842,0.010010,0.049459,0.003633
1,0.767442,0.007406,0.005925,0.010127,0.009708,0.007406,0.007406,0.008490
2,0.720930,0.030722,0.015297,0.020370,0.018778,0.030722,0.049459,0.014686
3,0.883721,0.049459,0.067754,0.054611,0.051987,0.049459,0.049459,0.074725
4,0.534884,0.009894,0.007763,0.005005,0.020658,0.009894,0.009894,0.019016
...,...,...,...,...,...,...,...,...
7200,0.906977,0.010010,0.007578,0.025725,0.007181,0.008801,0.010010,0.006911
7201,0.651163,0.048103,0.006819,0.008264,0.008378,0.007063,0.048103,0.010873
7202,0.720930,0.022572,0.005073,0.011904,0.005850,0.022572,0.049459,0.008023
7203,0.767442,0.032729,0.015063,0.019090,0.013309,0.018927,0.032729,0.014701
7204,0.767442,0.010010,0.006216,0.006821,0.007046,0.010010,0.049459,0.006631

In [ ]:
num_var = ['Amount1', 'Year', 'Type', 'Product_Model_MeanPrice', 'Location', 'Maker']

Xt, X_test = df_train[num_var], df_test[num_var]

scaler = MinMaxScaler()

Xt = scaler.fit_transform(Xt)
X_test = scaler.fit_transform(X_test)

In [504]:
r1 = XGBRegressor(random_state = 42)
r2 = RandomForestRegressor(random_state=42)
r3 = CatBoostRegressor(verbose=False,random_state = 42)
r4 = LGBMRegressor(random_state=42)

model = VotingRegressor([('r1', r1),('r2', r2),('r3',r3), ('r4', r4)],weights=(1,1,1,1))
model.fit(X_train_new,y_train)
#val_pred = model.predict(X_test)
#np.mean(mean_squared_error(y_val,val_pred))

In [492]:
# predict the results
y_pred=clf.predict(X_test)

In [493]:
submission['Amount (Million Naira)'] = y_pred
submission.to_csv('lgb_modelv1.csv', index=False)

In [ ]:
clfxgb = XGBClassifier(n_estimators=400, learning_rate=0.1, max_depth=3)

le = LabelEncoder()
y = le.fit_transform(y)

y_pred = xgb.predict(X_test)

clfxgb.fit(Xt, y,
            #eval_set=[(X_val, y_val)],
            early_stopping_rounds=50,
            eval_metric = 'rmse',
            verbose=False
         )
y_pred_trn = clfxgboost.predict(X_test)

In [415]:


clfxgb = XGBClassifier()
clfxgb.fit(X_2,y)
feature_important = clfxgb.get_booster().get_score(importance_type='gain') 
keys = list(feature_important.keys()) 
values = list(feature_important.values()) 
total = sum(values) 
new = [value * 100. / total for value in values] 
new = np.round(new,2) 
feature_importances = pd.DataFrame() 
feature_importances['Features'] = keys 
feature_importances['Importance (%)'] = new 
feature_importances = feature_importances.sort_values(['Importance (%)'],ascending=False).reset_index(drop=True) 
feature_importances 

feature_importances.style.set_properties(**{'font-size':'10pt'})

In [413]:
feature_important

{'f0': 0.5207287669181824,
 'f1': 0.3103378415107727,
 'f2': 0.23272700607776642,
 'f3': 0.23380133509635925,
 'f4': 0.39389318227767944}